 {% extends 'store/base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<section >
    <h2>About Us</h2>
    <p>
        Welcome to our eCommerce store, your trusted destination for quality products at affordable prices. 
        We offer a wide range of fashion, electronics, and daily essentials with secure payments and fast delivery. 
        Our goal is to provide a simple, reliable, and enjoyable shopping experience for every customer.
    </p>
</section>
{% endblock %} 