{% extends 'store/base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
<h1>Your Cart</h1>

{% if items %}
  <table >
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Subtotal</th>
      <th>Action</th>
    </tr>
    {% for i in items %}
    <tr>
      <td>{{ i.product.name }}</td>
      <td>{{ i.qty }}</td>
      <td>₹ {{ i.subtotal }}</td>
      <td><a href="{% url 'remove_from_cart' i.product.id %}">Remove</a></td>
    </tr>
    {% endfor %}
  </table>

  <h3>Total: ₹ {{ total }}</h3>
  <a class="btn"z href="{% url 'checkout' %}">Checkout</a>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}
{% endblock %}