{% extends 'store/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<section style="
    max-width:900px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
">

    <h2 style="
        font-size:36px;
        color:#222;
        margin-bottom:25px;
    ">
        About Us
    </h2>

    <p style="
        font-size:18px;
        line-height:1.9;
        color:#555;
    ">
        Welcome to our eCommerce store, your trusted destination for quality products at affordable prices.
        We offer a wide range of fashion, electronics, and daily essentials with secure payments and fast delivery.
        Our goal is to provide a simple, reliable, and enjoyable shopping experience for every customer.
    </p>

</section>

{% endblock %}